<h1>Here is the new order from Storedom</h1>

<h3>Customer Info</h3>
<p>
  Name: <%= @dashboard.user_name %>
</p>
<p>
  Email: <%= @dashboard.user_email %>
</p>

<h3>Order Info</h3>
<p>
  Item Name: <%= @dashboard.item_name %>
</p>
<p>
  Item Description: <%= @dashboard.item_description %></p>
<p>
  <%= image_tag(@dashboard.item_image) %>
</p>


